@page "/Cobro/Index"
@rendermode InteractiveServer
@inject CobroService cobroService
@inject NavigationManager navigationManager

<PageTitle>Consulta Cobros</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h3 class="card-title">Consulta Cobros</h3>
            <div class="text-end">
                <a href="/Cobro/Create" class="btn btn-primary">
                    <span class="bi bi-plus-square mt-3"></span> Crear
                </a>
            </div>
        </div>

        <div class="card-body">

            <table class="table table-hover">
                <thead class="table  table-striped text-black text-center">
                    <tr>
                        <th>CobroId</th>
                        <th>Fecha</th>
                        <th>Deudor</th>
                        <th>Monto</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var cobro in listacobro)
                    {
                        <tr>
                            <td>@cobro.CobroId</td>
                            <td>@(cobro?.Fecha.HasValue == true ? cobro.Fecha.Value.ToString("dd/MM/yy") : "")</td>
                            <td>@cobro.Deudor.Nombres</td>
                            <td>@cobro.Monto</td>
                            <td>
                                <a href="/Cobro/Details/@cobro.CobroId" class="btn bi bi-eye"></a>
                            </td>
                            <td>
                                <a href="/Cobro/Edit/@cobro.CobroId" class="btn bi bi-pencil-square"></a>
                            </td>
                            <td>
                                <a href="/Cobro/Delete/@cobro.CobroId" class="btn bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <p>Total de préstamos: @listacobro.Count</p>
        </div>
    </div>
</div>

@code {
    public Cobros cobro = new Cobros();
    public List<Cobros> listacobro = new List<Cobros>();

    protected override async Task OnInitializedAsync()
    {
        listacobro = await cobroService.Listar(p => true);
    }
}